.header {
    background: $off-black;
    color: $font-white;
    margin-bottom: $xl-size;
    padding: $m-size $m-marging
}

.header__title {
    font-size: $l-size;
    margin: $m-marging;

}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: $m-marging;
}

@media screen and (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }
}